<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Simple Graph</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="controllers">
            <div class="controllers-card">
                <h1>Controllers</h1>
                <div class="btn" id="get-graph-btn">New Graph</div>
                <div class="btn hidden" id="add-node-btn">
                    <span class="add-node-btn-msg">Add Node</span>
                    <form class="add-node-form hidden">
                        <label>Label</label>
                        <input type="text" id="add-node-input-label" required>
                        <div>
                            <select id="add-node-direction">
                                <option value="from">from</option>
                                <option value="to">to</option>
                            </select>
                            <select id="add-node-connected-to">
                            </select>
                        </div>
                        <label class="node-weight">Weight</label>
                        <input id="add-node-weight" min="0" type="number" required>
                        <input value="Confirm" class="submit confirm-btn" type="submit">
                    </form>
                </div>
                <div class="btn hidden" id="edit-node-btn">
                    <span class="edit-node-btn-msg">Edit Node</span>
                    <form class="edit-node-form hidden">
                        <label>Label</label>
                        <input type="text" id="edit-node-input-label" required>
                        <label class="node-weight">Weight</label>
                        <input id="edit-node-weight" min="0" type="number" required>
                        <input value="Confirm" class="submit confirm-btn" type="submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="graph-container">
            <div id="my-network"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='vis.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
